body {
	padding-top: 70px;
}

.beats {
	font-size: 13vw;
	text-align: center;
}

.unix {
	font-size: 4vw;
	text-align: center;
}

.timezones {
	text-align: right;
}

.timezones .row {
	margin-bottom: 10px;
}